{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>List page project</h1>
    <p>Here is a sample of the pages of my project as part of the full-stack course of the IT-Brains team</p>
    <div class="row">
        <div class="col-2">
            <a type="button" href="/summary" class="btn btn-primary m-2">Summary</a>
            <a type="button" href="/skills" class="btn btn-primary m-2">Skills</a>
            <a type="button" href="/education" class="btn btn-primary m-2">Education </a>
            <a type="button" href="/work" class="btn btn-primary m-2">Work </a>
        </div>


        <div class="col-2">
            <a type="button" href="/person" class="btn btn-secondary m-2">Person</a>
            <a type="button" href="/bio" class="btn btn-secondary m-2">Bio</a>
            <a type="button" href="/program" class="btn btn-secondary m-2">Programm</a>
            <a type="button" href="/web" class="btn btn-secondary m-2">Web </a>
        </div>

        <div class="col-2">
            <a type="button" href="/js" class="btn btn-warning m-2">JS</a>
            <a type="button" href="/mac" class="btn btn-warning m-2">MAC</a>
            <a type="button" href="/facebook" class="btn btn-warning m-2">FaceBook</a>
        </div>

        <div class="col-2">
            <a type="button" href="/task21" class="btn btn-info m-2">Task21</a>
            <a type="button" href="/task22" class="btn btn-info m-2">Task22</a>
            <a type="button" href="/task31" class="btn btn-info m-2">Task31</a>
        </div>

        <div class="col-2">
            <a type="button" href="/shophome" class="btn btn-success m-2">ShopHome</a>
            <a type="button" href="/shoporder" class="btn btn-success m-2">Shoporder</a>
            <a type="button" href="/shopcart" class="btn btn-success m-2">Shopcart</a>
            <a type="button" href="/shopreview" class="btn btn-success m-2">Shopreview</a>
            <a type="button" href="/shopcatalog" class="btn btn-success m-2">Shopcatalog</a>
        </div>
    </div>










</div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}