<main>
    <h3>Program</h3>
    {{#with program}}
        {{#with excursion}}
        <h2>{{name}}</h2>
        {{>adress data=location}}
        <time>{{date}}</time><hr/>
            {{#each program}}
                
           
                {{>ntd }}                  
                
                    
                <hr/>                 
                                                 
                    
            {{/each}}
        {{/with}}
    {{/with}}
</main>