<main>
    
    {{#with web}}
    <h2>Languages:</h2>
    <hr><hr>
        {{#each languages}}
            {{>n-v-d}}           
            
            
            <hr/>
        
        {{/each}}
    {{/with}}
</main>