 <div class="row">
                <div class="col-6 my-3">
                    {{#with surname}}
                    {{>form-shoporder}}
                    {{/with}}
                </div>

                <div class="col-6 my-3">
                    {{#with name}}
                    {{>form-shoporder}}
                    {{/with}}
                </div>

                <div class="col-6 my-3">
                    {{#with phone}}
                    {{>form-shoporder}}
                    {{/with}}
                </div>

                <div class="col-6 my-3">
                    {{#with email}}
                    {{>form-shoporder}}
                    {{/with}}
                </div>
            </div>