
    <div class="card MB-5">
      <div class="card-body">
         <div class="row">
        <h3 class="col-4">Shevtsov Oleksandr </h3>
        <div class="col-5"></div>
        <h3 class="col-3">Resume project</h3>            
      </div>
    </div>
  </div>