

 {{#if  line }} <a class="btn btn-light btn-lg text-warning" href="{{href}}">{{text}}</a> {{/if}}

 {{#if  blank}} <a class="btn btn-light  btn-sm text-warning" href="{{href}}">{{text}}</a> {{/if}}
