<div class="bg-warning p-2  bg-opacity-10 border">
{{tit}}:
{{#with name}}
<ul>
    <li>{{>name-car-10 tit="type" name=type}}</li>
    <li>{{>name-car-10 tit="gears" name=gears}}</li>
    
</ul>
{{/with}}
</div>