<div class="bg-warning p-2  bg-opacity-10 border">
{{tit}}:
{{#with name}}
<ul>
    <li>{{>name-car-10 tit="navigation" name=navigation}}</li>
    <li>{{>name-car-10 tit="moonroof" name=moonroof}}</li>
    <li>{{>name-car-10 tit="premium_paint" name=premium_paint}}</li>
    
</ul>
{{/with}}
</div>