 <nav>
    {{>ll text="Summary" href="./summary" line=true }}
    {{>ll text="Skills" href="./skills" line=true }}
    {{>ll text="Education" href="./education" line=true }}
    {{>ll text="Work" href="./work" line=true }}
  </nav>