{{#with navigation}}
<div class="card pb-4 mb-5">
    <nav class="nav ms-2">
        {{#each links}}
        <a class="nav-item me-5 ps-0  text-decoration-none" href="{{href}}">{{text}}</a>
        {{/each}}
    </nav>
</div>
{{/with}}